venv

UNET.py
main_old.py
thumbnails128x128
dataset_transform.py
save_dataloader.py

MEAN_STD
save_dataloader
Data/mean_std_LOW.npy
Data/mean_std_HIGH.npy
Data/__pycache__/dataset.cpython-310.pyc
Data/MEAN_STD/mean_std_HIGH.npy
Data/MEAN_STD/mean_std_LOW.npy

save_dataloader.py
__pycache__/dataset_transform.cpython-310.pyc
__pycache__/functions.cpython-310.pyc
__pycache__/model.cpython-310.pyc
__pycache__/utils.cpython-310.pyc
