venv

thumbnails128x128
not_used
MEAN_STD
Data
Data/mean_std_LOW.npy
Data/mean_std_HIGH.npy
Data/__pycache__/dataset.cpython-310.pyc
Data/MEAN_STD/mean_std_HIGH.npy
Data/MEAN_STD/mean_std_LOW.npy


__pycache__/dataset_transform.cpython-310.pyc
__pycache__/functions.cpython-310.pyc
__pycache__/model.cpython-310.pyc
__pycache__/utils.cpython-310.pyc
__pycache__/dataset.cpython-310.pyc
__pycache__/dataset.cpython-310.pyc
__pycache__/dataset.cpython-310.pyc
m2.py
__pycache__/dataset.cpython-310.pyc
